@model IEnumerable<DECOWRAPS_CRUD.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DesProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DesProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedorNavigation.RazonSocial)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodProducto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodProducto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodProducto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
